﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Расчет площади многоугольника</h2>

    <form action="@Url.Action("CalculateArea", "Home")" method="post">
                <p>Введите длину стороны a:</p>
        <input type="number" step="any" name="a" />
        <p>Введите количество сторон n:</p>
        <input type="number" name="n" />
        <input type="submit" value="Рассчитать" />
    </form>
    Площадь многоугольника: 
    @if (ViewBag.result != null)
    {
        @ViewBag.result
    }
</div>
<p>Схема и формула:</p>
    <img src="\Images\Screenshot_5456.png" />

